<div class="page-header">
  <%= link_to tags_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  
  <h1>Nuevo Tema</h1>
</div>

<%= render 'form' %>
