<div class="page-header">
  <%= link_to human_patients_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  
  <h1>Nueva Ficha de Atencion</h1>
</div>

<%= render 'form' %>
